{"filter":false,"title":"topics_quiz.launch","tooltip":"/odom/launch/topics_quiz.launch","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":1,"column":14},"end":{"row":1,"column":24},"action":"remove","lines":["MoveKobuki"],"id":2},{"start":{"row":1,"column":14},"end":{"row":1,"column":30},"action":"insert","lines":["topics_quiz_node"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":9},"end":{"row":2,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1544163273813,"hash":"5eabac1e1f89dfbc8723d013ba27711712e848db"}