{"filter":false,"title":"my_package_launch_file.launch","tooltip":"/pub-sub/launch/my_package_launch_file.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1544435160953,"hash":"8d61fb7c3f6acd5ad4f429ff204d57fb7b6244c7"}