{"filter":false,"title":"call_bb8_move_in_square_service_server.launch","tooltip":"/unit_3_services/launch/call_bb8_move_in_square_service_server.launch","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":1,"column":14},"end":{"row":1,"column":18},"action":"remove","lines":["BB88"],"id":2},{"start":{"row":1,"column":14},"end":{"row":1,"column":29},"action":"insert","lines":["bb8_move_client"]}],[{"start":{"row":1,"column":59},"end":{"row":1,"column":67},"action":"remove","lines":["move_bb8"],"id":3},{"start":{"row":1,"column":59},"end":{"row":1,"column":92},"action":"insert","lines":["bb8_move_in_square_service_client"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":14},"end":{"row":1,"column":29},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1544530266788,"hash":"c9443e8d77c501e4c4b73581eb3e5ee18f84ef37"}