{"filter":false,"title":"start_bb8_move_in_square_service_server.launch","tooltip":"/unit_3_services/launch/start_bb8_move_in_square_service_server.launch","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":1,"column":14},"end":{"row":1,"column":18},"action":"remove","lines":["BB88"],"id":2},{"start":{"row":1,"column":14},"end":{"row":1,"column":36},"action":"insert","lines":["move_bb8_in_square_srv"]}],[{"start":{"row":1,"column":66},"end":{"row":1,"column":74},"action":"remove","lines":["move_bb8"],"id":3},{"start":{"row":1,"column":66},"end":{"row":1,"column":99},"action":"insert","lines":["bb8_move_in_square_service_server"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":17.1953125,"selection":{"start":{"row":1,"column":2},"end":{"row":1,"column":2},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1544529138606,"hash":"bec8146b7c999be311e3534643b5c8a4ec019efc"}