{"filter":false,"title":"my_package_launch_file.launch","tooltip":"/package_exercise_5p1/launch/my_package_launch_file.launch","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":1,"column":27},"end":{"row":1,"column":37},"action":"remove","lines":["my_package"],"id":2},{"start":{"row":1,"column":27},"end":{"row":1,"column":47},"action":"insert","lines":["package_exercise_5p1"]}],[{"start":{"row":1,"column":14},"end":{"row":1,"column":20},"action":"remove","lines":["Obiwan"],"id":3},{"start":{"row":1,"column":14},"end":{"row":1,"column":22},"action":"insert","lines":["log_demo"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":22},"end":{"row":1,"column":22},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1544432096824,"hash":"49fcdbfbd1c64f0907a139d5bb6aa512a33e7594"}